* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    min-height: 100vh;
}

.container-layout-main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 50px;
}
.p-4{
    font-size: 12px;
    padding-bottom: 10px;
}
.p-4 span{
    color: #007DF2;
}
.container-left {
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    padding: 40px 30px;
}

.container-left-main {
    width: 100%;
    height: auto;
}

.container-left-main .p-1 {
    text-align: left;
    font-size: 16px;
    width: 100%;
    color: black;
}

.container-left-img {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-0{
    color:#007DF2;
    font-size: 14px;
    border-bottom: 1px solid #007DF2;
    margin-bottom: 5px;
}
.container-left-img img {
    width: 80%;
    height: 150px;
}

.container-left-contact {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.contact {
    width: 100%;
    float: left;
    border-bottom: 1px solid #007DF2;
    margin-bottom: 10px;
    font-size: 16px;
    color: #007DF2;
}

.contact-div-item {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    line-height: 1.5;
}
.contact-div-item p strong {
    font-size: 14px;
    color: #226592;
    font-weight: 540;
}


.item-p-3{
    font-size: 13px;
    word-wrap: break-word;
}
/* right */

.container-right {
    width: 75%;
    height: auto;
    background-color: white;
}

.container-right-main {
    width: 100%;
    height: auto;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
}

.container-right-main-item-top {
    width: 100%;
    height: auto;
}

.summary {
    width: 100%;
    border-bottom: 1px solid #007DF2;
    font-size: 15px;
    text-transform: capitalize;
    color: #007DF2;
}

.container-right-main-item-top:nth-child(2),.container-right-main-item-top:nth-child(8),.container-right-main-item-top:nth-child(7), .container-right-main-item-top:nth-child(6), .container-right-main-item-top:nth-child(3), .container-right-main-item-top:nth-child(4), .container-right-main-item-top:nth-child(5) {
    margin-top: 15px;
    font-size: 14px;
}

.container-item-main-right-skill {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-item-main-right-skill ul {
    width: 90%;
    margin-top: 10px;
    list-style-type: circle;
}

.container-item-main-right-skill ul li {
    width: 43%;
    list-style-type: disc;
    float: left;
    margin-left: 30px;
    font-weight: 520;
}

.p-2 {
    margin-top: 10px;
    font-size: 13.5px;
}

.container-experience {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.container-experience li {
    margin-left: 30px;
}

.container-experience p {
    width: 100%;
    font-size: 14px;
}



@media only screen and (max-width: 1000px) {
    .container {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        min-height: 100vh;
    }
  }

  @media only screen and (max-width: 800px) {
    .container {
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
        min-height: 100vh;
    }
    .container-layout-main {
        min-width: 320px;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .container-left {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: #F0F0F0;
        padding: 45px 30px;
    }
    .container-right {
        width: 100%;
        height: auto;
        background-color: white;
    }
  }

  @media only screen and (max-width: 700px) {
    .container {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        min-height: 100vh;
    }
    .container-layout-main {
        min-width: 320px;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .container-left {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: #F0F0F0;
        padding: 45px 30px;
    }
    .container-right {
        width: 100%;
        height: auto;
        background-color: white;
    }
  }

  @media only screen and (max-width: 500px) {
    .container {
        margin-left: 2%;
        margin-right: 2%;
        width: 96%;
        min-height: 100vh;
    }
    .container-layout-main {
        min-width: 320px;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .container-left {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: #F0F0F0;
        padding: 45px 30px;
    }
    .container-right {
        width: 100%;
        height: auto;
        background-color: white;
    }
  }


  .container-experience-li{
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
  }
  .container-experience-li a{
      font-size: 13px;

  }
  .container-experience-li a ul {
    font-style: italic;
    font-size: 10px;
  }